/* Additional style rules */

div#footer.teaching-blue {
    background-color: #0099ff;
    color:#ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    border-bottom: #0099ff;
}

.jumbotron-container {
    height: 350px;
}

.teachersmobility-banner {
    min-height: 450px;
    background: #0079bc url("../../bundles/formalibreteachersmobility/images/banner.jpg") no-repeat left;
    background-size: 50%;
}
