<div id="footer" class="teaching-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <b> Informations complémentaires </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - Mentions légales
            </div>
            <div class="col-md-4">
                <b> Verdere informatie </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - Wettelijke kennisgeving
            </div>
            <div class="col-md-4">
                <b> Weitere informationen </b></br>
                &nbsp&nbsp - Kontact </br>
                &nbsp&nbsp - Rechtliche Hinweise
            </div>
        </div>
    </div>
</div>
