<div id="footer" class="teaching-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <b> Informations complémentaires </b></br>
                &nbsp&nbsp - <a href="mailto:claude.lachapelle@gov.cfwb.be"> Contact </a></br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/D%C3%A9cret"> Dispositions légales </a> </br>
                &nbsp&nbsp - <a href="http://www.enseignement.be/upload/circulaires/000000000003/FWB%20-%20Circulaire%206062%20%286294_20170215_115702%29.pdf"> Conditions linguistiques </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Titres"> Titres exigés </a> </br>
           </div>
            <div class="col-md-4">
                <b> Verdere informatie </b></br>
<!--                &nbsp&nbsp - <a href="#"> Uitwisseling van leerkrachten ‘native speakers’ </a> </br> -->
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Taalvereisten"> Taalvereisten </a> </br>
            </div>
            <div class="col-md-4">
                <b> Weitere informationen </b></br>
                &nbsp&nbsp - <a href="http://www.teachersmobility.be/type/dekretale_grundlage"> Dekretale Grundlage </a> </br>
                &nbsp&nbsp - <a href="http://www.teachersmobility.be/type/sprachliche_anforderungen"> Sprachliche Anforderungen </a> </br>
                &nbsp&nbsp - <a href="http://www.teachersmobility.be/type/erforderliche_bef%C3%A4higungsnachweise"> Erforderliche Befähigungsnachweise </a> </br>
            </div>
        </div>
    </div>
</div>
