<div id="footer" class="teaching-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <b> Informations complémentaires </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - Dispositions légales </br>
                &nbsp&nbsp - Conditions linguistiques </br>
                &nbsp&nbsp - Titres exigés </br>
                &nbsp&nbsp - Mentions légales
            </div>
            <div class="col-md-4">
                <b> Verdere informatie </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - Uitwisseling van leerkrachten ‘native speakers’ </br>
                &nbsp&nbsp - Taalvereisten </br>
                &nbsp&nbsp - <a href="http://data-onderwijs.vlaanderen.be/edulex/document.aspx?docid=14757">Wettelijke kennisgeving</a>
            </div>
            <div class="col-md-4">
                <b> Weitere informationen </b></br>
                &nbsp&nbsp - Kontact </br>
                &nbsp&nbsp - Dekretale Grundlage </br>
                &nbsp&nbsp - Sprachliche Anforderungen </br>
                &nbsp&nbsp - Erforderliche Befähigungsnachweise </br>
                &nbsp&nbsp - Rechtliche Hinweise
            </div>
        </div>
    </div>
</div>
