<div id="footer" class="teaching-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <b> Informations complémentaires </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/D%C3%A9cret"> Dispositions légales </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Conditions%20linguistiques"> Conditions linguistiques </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Titres"> Titres exigés </a> </br>
                &nbsp&nbsp - Mentions légales
            </div>
            <div class="col-md-4">
                <b> Verdere informatie </b></br>
                &nbsp&nbsp - Contact </br>
                &nbsp&nbsp - <a href="#"> Uitwisseling van leerkrachten ‘native speakers’ </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Taalvereisten"> Taalvereisten </a> </br>
                &nbsp&nbsp - <a href="http://data-onderwijs.vlaanderen.be/edulex/document.aspx?docid=14757">Wettelijke kennisgeving</a>
            </div>
            <div class="col-md-4">
                <b> Weitere informationen </b></br>
                &nbsp&nbsp - Kontact </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Dekretale%20Grundlage"> Dekretale Grundlage </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Sprachliche%20Anforderungen"> Sprachliche Anforderungen </a> </br>
                &nbsp&nbsp - <a href="http://teachersmobility.be/type/Erforderliche%20Bef%C3%A4higungsnachweise"> Erforderliche Befähigungsnachweise </a> </br>
                &nbsp&nbsp - Rechtliche Hinweise
            </div>
        </div>
    </div>
</div>
